# Maven
target/
*.jar
*.war
*.ear
*.nar
dependency-reduced-pom.xml

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - Eclipse
.project
.classpath
.c9/
*.launch
.settings/
.metadata
.recommenders/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# IDE - VS Code
.vscode/

# OS - macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# OS - Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# OS - Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Spring Boot
spring-shell.log